/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .elements{
        height: 10%;
    }
    .workspace{
        height: 70%;
    }
    .element-row{
            width:100%;
        }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .elements{
        height: 10%;
    }
    .workspace{
        height: 70%;
    }
    .element-row{
            width:100%;
        }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .elements{
        height: 20%;
    }
    .workspace{
        height: 50%;
    }
    .element-row{
            width:70%;
        }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .elements{
        height: 20%;
    }
    .workspace{
        height: 50%;
    }
    .element-row{
            width:60%;
        }
}

/*---------------------------------------------------------------------------*/

html{
    position:relative;
}

.jumbotron{
    margin: 2%;
}

.elements{

}

.workspace{
    border-style:dashed;
    border-color:gray;
}

.container{
    padding:0% !important;
}

.content{
    width:auto;
    margin:2% !important;
}

.col-lg-2{
    height:100%;

}

.element-row{
    margin: auto !important;
    height:100%;
}

.workspace-row{
    margin:10%;
}

.btn{
    width:30%;
    margin:auto;
}

.footer{
    bottom:0;
    position absolute;
    width:96%;
    margin: 0% 2%;
}

.buttons{
    margin-top:2%;
}